@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

.section {
    display: flex;
    height: 98vh;
    /* background-color: #000; */
    /* background-color: #fde7f9;
    background-image: linear-gradient(to left, #f9eef7 0%, #aacaef 74%); */
}

.social-link {

    margin-top: 300px;
    position: fixed;
    z-index: 1000;
}

.social-link a {
    display: block;
    text-decoration: none;
    color: rgb(86, 86, 86);
    margin-left: 8px;
    margin-top: 15px;
    font-size: 25px;


}

.main {
    margin-left: 150px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.title {
    font-size: 40px;
    margin-top: -10px;
}

.name {
    font-weight: 800;
    font-size: 50px;
    color: #fc9f08;
    /* color: #6f5fbe; */

}

.text {
    text-align: left;
    width: 80%;

}

.image {
    margin-top: -60px;
    margin-right: 100px;
    width: 450px;
    height: 450px;
}

.right {
    margin-top: 50px;
    margin-left: 100px;
}

.position {
    margin-top: -5px;
    font-weight: 400;
    margin-bottom: 25px;
    text-transform: uppercase;

}


.resume {
    margin-top: 25px;
    background-color: #7f53ac;
    background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
    /* background: linear-gradient(89deg, rgb(21, 74, 189) 0.1%, rgb(26, 138, 211) 51.5%, rgb(72, 177, 234) 100.2%); */
    /* background-image: linear-gradient(to right, hsl(187, 85%, 43%), hsl(199, 100%, 33%)); */
    border: none;
    color: white;
    padding: 10px 23px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    border-radius: 5px;

}

.no-decoration {
    text-decoration: none;
}

.contact {
    margin-top: 40px;
    /* margin-left: 10px; */
    /* background: linear-gradient(to right, #243949 0%, #517fa4 100%); */
    background: linear-gradient(89deg, rgb(21, 74, 189) 0.1%, rgb(26, 138, 211) 51.5%, rgb(72, 177, 234) 100.2%);
    border: none;
    color: white;
    padding: 10px 23px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    border-radius: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

}

.button-content {
    display: flex;
    align-items: center;
}

.mouse-container {
    padding-top: 80px;
    display: flex;
}

.mouse {
    width: 30px;
    height: 50px;
    border: 3px solid #f3b305;
    border-radius: 60px;
    position: relative;

    &::before {
        content: '';
        width: 8px;
        height: 8px;
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #7f53ac;
        border-radius: 50%;
        opacity: 1;
        animation: wheel 2s infinite;
        -moz-animation: wheel 2s infinite;
    }
}

@keyframes wheel {
    to {
        opacity: 0;
        transform: translateY(50px);

    }
}

@-moz-keyframes wheel {
    to {
        opacity: 0;
        transform: translateY(50px);

    }
}

.scroll-text {
    font-size: 13px;
}


/* For Dark Theme */
.dark-theme .social-link a {
    color: #fff;
}

.dark-theme .name {
    color: #fff;
}

.dark-theme .mouse {
    border: 3px solid #fff;
}


/*Responsive */
@media only screen and (max-width: 1366px) {
    .mouse-container {
        padding-top: 50px;
    }

    .image {
        margin-right: 50px;
        width: 400px;
        height: 400px;

    }
}