.get_in_touch {
    margin-top: 200px;
    margin-bottom: 20px;
    background-color: #fde7f9;
    background-image: linear-gradient(315deg, #fde7f9 0%, #aacaef 74%);
}


.get_in_touch .title {
    text-align: center;
    letter-spacing: 1px;
    font-size: 3em;
    line-height: 40px;
    padding-bottom: 20px;
    background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 30px;
}

.contact-form {
    padding: 0px 25px;
}

.contact-form .form-field {
    position: relative;
    margin: 32px auto;
}

.form-floating label {
    font-size: 15px;
    margin-left: 12px;
    background-color: transparent;
}



.contact-form .submit-btn {
    display: inline-block;
    background: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    padding: 8px 16px;
    border: none;
    width: 200px;
    cursor: pointer
}

#textarea-rows {
    height: 10em;
}

.form-control {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #000;
    border-radius: 0px !important;

}

.form-control:focus {
    border-color: #000;
    box-shadow: none;
}

.contact-image-container {
    padding-left: 100px;
}

.contact-container {
    padding-right: 100px;
}