@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --PrimaryColor: hsl(199, 100%, 33%);
    --SecondaryColor: hsl(187, 85%, 43%);
    --gradientColor: linear-gradient (to right, hsl(187, 85%, 43%), hsl(199, 100%, 33%));
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(201, 33%, 16%);
    --textColor: hsl(240, 4%, 36%);
    --whiteColorDeam: hsl(0, 0%, 93%);
    --greyText: rgb(190, 190, 190);
    --inputColor: rgb(239, 239, 239);
    --bodyColor: rgb(240, 240, 246);
    --cardBG: rgb(225, 225, 235);
}


li {

    list-style: none;
}

a {
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    position: sticky;
    top: 0;
    /* box-shadow: 5px 10px 18px #888888; */
    background-color: #fff;

}

.larger {
    font-size: 30px;
    margin-left: 30px;
    font-weight: 500;
}

.iconForNavbar {
    margin-top: 3px;
    font-size: 2rem;
    cursor: pointer;
    margin-right: 10px;
    color: var(--PrimaryColor);
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    width: 75%;
    margin-right: 30px;
}


.nav-links li {
    color: #101010;
    font-size: 18px;
    padding: 0 10px;
    margin: 0 10px;
    cursor: pointer;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 600;
}

.active {
    border-bottom: 1px solid #333;
}

.hero {
    text-align: center;
    margin-top: 15%;

}

button {
    border: none;
    background: none;
    font-size: 20px;
}

.mobile-menu-icon {
    display: none;
}

@media (max-width:768px) {
    .logo {
        display: flex;
        position: absolute;
        top: 15px;
        left: 5px;

    }

    .nav-links {
        display: none;
    }

    .nav-links-mobile {
        position: absolute;
        display: block;
        list-style: none;
        box-shadow: rgba(50, 50, 93, 0.23) 0 30px 30px -20px;
        left: 0;
        top: 10%;
        transition: all 0.5s ease-in-out;
        width: 100%;
        background-color: white;
        z-index: 1000;
    }



    ul li {
        padding: 32px;
        width: 100%;
        transition: all 0.5s ease-in-out;
        text-align: center;

    }

    .mobile-menu-icon {
        position: absolute;
        display: block;
        right: 25px;
    }

    .hero h1 {
        font-size: 50px;
        ;
    }
}